# Base de données
POSTGRES_DB=mizan_db
POSTGRES_USER=mizan_user
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Django
DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=changeme
DEBUG=True

# Redis
REDIS_URL=redis://redis:6379/0